@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
 @font-face {
  font-family: "Arial MT Bold";
  font-weight: 700;
  src: url("/src/assets/ARIALBOLDMT.otf") format("opentype") ;
  }

  @font-face {
    font-family: 'Arial MT';
    font-weight: normal;
    font-style:normal;
    src: url("/src/assets/ARIALMTLIGHT.woff") format("woff");
    }

 h1{
  margin:0;
  font-family: "Arial MT Bold";
  font-size:14px;
  color: #FFFFFF;
}  

span {
  font-family: "Arial MT";
  color: #FFFFFF;
  font-size: 14px;
  opacity: 0.5;
  line-height: 1;
}  

input[type=number]{
  width: 59px; 
}


.number-wrapper {
  position: relative;
}
.number-wrapper input[type="number"] {  
padding-block: 2px;
padding-left:7px;
width:59px;
height: 24px;
background: #47484E;
border-radius: 6px;
border:none;
}
.number-wrapper:after,
.number-wrapper:before {
width: .8rem;  
font-size: 7px;
height:46%;
position: absolute;
right: 0;
background: #808289;
pointer-events: none;
text-align:center
}
.number-wrapper:after {
  border-bottom-left-radius: 6px;
  content: "\25BC"; 
  color: #ffffff; 
  top: 0;
  transform: rotate(180deg);

}
.number-wrapper:before {
  border-bottom-right-radius: 6px;
  content: "\25BC"; 
  color: #ffffff; 
  bottom: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  /* -webkit-appearance: none; */
  opacity:0; 
}

input[type=number] { -moz-appearance:textfield; }


#layaoutForm{
  display: grid;
  grid-template-columns: 60px 1fr auto auto;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  row-gap: 20px;
}